---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}'); background-position: 61% 12%; background-size: 111px;">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
        {% endif %}
      {% endfor %}
    </div>
</header>

<main class="content" role="main">

    <div class="cf frame">
      {% for post in paginator.posts %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">

            {% assign author = site.data.authors[post.author] %}
            <section class="author">
              <div class="author-image" style="background-image: url({{ author.image }})">author</div>
              <div class="author-name">{{ author.name }}</div>
              <div class="post-meta">
                <time datetime="{{ post.date | date: "%F %R" }}">{{ post.date | date: "%b %-d" }}</time>
              </div>
            </section>

            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
              <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            </header>
            <section class="post-excerpt" itemprop="description">
              <p>{{ post.excerpt | truncatewords: 50 }}</p>
            </section>
            <a class="read-more" href="{{ post.url }}">Read more...</a>
          </div>
        </article>
      {% endfor %}
    </div>

    <nav class="pagination" role="navigation">
      {% if paginator.next_page %}
        <a class="newer-posts" href="/page{{paginator.next_page}}">&larr; Older posts</a>
      {% endif %}
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="older-posts" href="/">Newer posts &rarr;</a>
        {% else %}
          <a class="older-posts" href="/page{{paginator.previous_page}}">Newer posts &rarr;</a>
        {% endif %}
      {% endif %}
    </nav>


    <!-- {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}} -->

</main>
