<!-- footer start -->

<footer class="site-footer">
  <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> Subscribe</span></a>
</footer>


<div class="bottom-closer">
  <h1 class="blog-title">{{ site.title }}</h1>
  <h2 class="blog-description">{{ site.description }}</h2>
  <div class="subscribe-cta">
    <a href="https://liquid.us/join" target="_blank">Sign up for updates</a>
  </div>
  <div class="btn">
    <a href="https://liquid.us">&#9668 &nbsp; BACK TO LIQUID US</a>
  </div>
  <div class="btn">
    <a href="/">BLOG HOME</a>
  </div>
</div>

<!-- footer end -->
