---
---
{% assign author = site.data.authors[page.author] %}
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/Article">
    <div class="header-bar">
      <div class="title-container">
        <p class="blog-title"><a href="/">{{ site.title }}</a></p>
      </div>
    </div>
    <main class="content" role="main">
      <article class="post">
        <div class="post-meta">
          {% if page.unlisted %}
            <p class="draft-label">DRAFT — THIS POST IS UNLISTED</p>
          {% endif %}
          <div class="cf post-meta-text">
            <div class="author-image" style="background-image: url({{ author.image }})">Author photo</div>
            <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ author.name }}</h4>
            on
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
            <!-- , tagged on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}} -->
            <div class="post-reading">
              <span class="post-reading-time"></span> read
            </div>
          </div>
          <h1 class="post-title">{{ page.title }}</h1>
          {% if page.subtitle %}
            <h2 class="post-subtitle">{{ page.subtitle}}</h2>
          {% endif %}
        </div>
        <section class="post-content">
          <a name="topofpage"></a>
          {{content}}
        </section>
        <footer class="post-footer">
          <figure class="kudo kudoable" data-id="1">
            <a class="kudobject">
              <div class="opening">
                <div class="circle">&nbsp;</div>
              </div>
            </a>
            <a href="#kudo" class="count">
              <span class="num">0</span>
              <span class="txt">Likes</span>
            </a>
          </figure>
          <section class="share">
            <p class="share-header">SHARE THIS POST</p>
            {% for social in site.social %}
              {% if social.share_url != null %}
                <a class="icon-{{ social.icon }}" href="{{ social.share_url }}{{ social.share_title }}{{ '"' | cgi_escape }}{{page.title | cgi_escape}}{{ '" by ' | cgi_escape }}{{ social.username | cgi_escape }}{{ social.share_link }}{{site.url}}{{page.id}}"
                  onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
                <i class="fa fa-{{ social.icon }}"></i><span class="hidden">{{ social.icon }}</span>
                </a>
              {% endif %}
            {% endfor %}
          </section>
        </footer>
        <div class="bottom-teaser cf">
          <div class="isLeft">
            <h5 class="index-headline featured"><span>Written by</span></h5>
            <section class="author">
              <div class="author-image" style="background-image: url({{ author.image }})">Blog Logo</div>
              <h4>{{ author.name }}</h4>
              <p class="bio">{{author.bio}}</p>
              <hr>
              {% if page.unlisted %}
                <p class="published">To be published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>
              {% else %}
                <p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>
              {% endif %}
            </section>
          </div>
          {{/post}}
        </div>
        <div class="PageNavigation">
          {% if page.previous.url %}
            {% if page.previous.unlisted %}
              {% if page.previous.previous.url %}
                {% if page.previous.previous.unlisted %}
                {% else %}
                  <a class="prev" href="{{page.previous.previous.url}}">&laquo; {{page.previous.previous.title}}</a>
                {% endif %}
              {% endif %}
            {% else %}
              <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
            {% endif %}
          {% endif %}

          {% if page.next.url %}
            {% if page.next.unlisted %}
              {% if page.next.next.url %}
                {% if page.next.next.unlisted %}
                {% else %}
                  <a class="next" href="{{page.next.next.url}}">{{page.next.next.title}} &raquo;</a>
                {% endif %}
              {% endif %}
            {% else %}
              <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
            {% endif %}
          {% endif %}
        </div>
      </article>
    </main>

    {% include comments.html %}

    <div class="bottom-closer">
      <h1 class="blog-title">{{ site.title }}</h1>
      <h2 class="blog-description">{{ site.description }}</h2>
      <div class="subscribe-cta">
        <a href="https://united.vote/join" target="_blank">Sign up for updates</a>
      </div>
      <div class="btn">
        <a href="https://united.vote">&#9668 &nbsp; BACK TO UNITED</a>
      </div>
      <div class="btn">
        <a href="/">BLOG HOME</a>
      </div>
    </div>
    {% include javascripts.html %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ "/css/kudos.css"  | prepend: site.baseurl  }}" />
    <script type="text/javascript" src="{{ "/assets/js/kudos/kudos.js" | prepend: site.baseurl  }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/kudos/kudos-server.js" | prepend: site.baseurl  }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/kudos/jstorage.js" | prepend: site.baseurl  }}"></script>
  </body>
</html>
